* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-height: 100vh;
  font-family: $mainFont, $secondFont;
  font-weight: 500;
  font-size: $font-size+px;
  color: $primaryColor;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style-type: none;
  padding: 0;
}

input[type="radio"]{
  display: none;
}
input[type="checkbox"]{
  display: none;
}

@keyframes spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}

.spinner {
  height: 100px; width: 100px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background: $thirdColor;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 2000;
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 50px);

  &::before {
    content: '';
    height: 80px;
    width: 80px;
    display: flex;
    margin: 0 auto;
    background: $secondColor;
    border-radius: 50%;
    position: relative;
    left: 9px;
  }

  &::after {
    content: '';
    height: 100px;
    background: $secondColor;
    width: 15px;
    display: flex;
    margin: 0 auto;
    position: relative;
    right: 42.5px;
  }
}
