$indent: 7;

$font-size: 16;

$mainFont: 'Orbitron';
$secondFont: monospace;

$oneColor: #76A0B7;
$twoColor: #0A9ABC;
$threeColor: #EDF2F7;
$fourColor: #141416;

$ok: #00ff00;
$close: #ff0000;

$primaryColor: $twoColor;
$secondColor: $oneColor;
$thirdColor: $threeColor;
$fourthColor: $fourColor;


h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  font-size: 2rem;
}
h2{
  font-size: 1.8rem;
}
h3,h4,h5,h6{
  font-size: 1.3rem;
}

.mySVG{
  display: none;
}


use.ic-star {
  fill: $thirdColor;
  stroke: $primaryColor;
  stroke-width: 3px;

}

.active{
  use.ic-star{
    fill: #f9c000;
    stroke: $secondColor;
  }
}