@import '../../assets/scss/variables.scss';
@import '../../assets/scss/global.scss';

.sun{
  width: 50%;
  display: inline-block;
  padding-left: $indent+px;

  &__type{
    height: 95px;
    width: 85px;
  }

  &__block {
    font-size: 0.625rem;
    display: block;
    padding-bottom: 0.5*$indent+px;
  }

  &__data {
    font-size: 0.625rem;
    display: inline-block;
    vertical-align: middle;
    padding-left: $indent+px;

    &--temp-c {
      &:after {
        content: "\00B0";
      }
    }
  }

  &__blockName {
    font-size: 0.625rem;
    display: inline-block;
    vertical-align: middle;
  }
}