@import '../../assets/scss/variables.scss';
@import '../../assets/scss/global.scss';

.navButton {
  display: inline-block;
  width: 50%;
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 0;

  &:last-child {
    padding-left: 5px;
    padding-right: 0;
  }

  &__btn {
    display: block;
    border: none;
    background-color: $thirdColor;
    padding: 10px;
    width: 100%;
    box-shadow: -5px 6px 20px 3px rgba(0, 0, 0, 0.25);
    color: $primaryColor;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;

    &.passive{
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
    }
  }
}