@import '../../assets/scss/variables.scss';
@import '../../assets/scss/global.scss';

.weatherLabel {
  height: 100%;
  background-image: url("../../assets/images/icons/se.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: block;

  &--01d {
    background-image: url("../../assets/images/icons/1.png");
  }

  &--01n {
    background-image: url("../../assets/images/icons/4.png");
  }

  &--02d {
    background-image: url("../../assets/images/icons/2.png");
  }

  &--02n {
    background-image: url("../../assets/images/icons/5.png");
  }

  &--03n {
    background-image: url("../../assets/images/icons/12.png");
  }

  &--03d {
    background-image: url("../../assets/images/icons/12.png");
  }

  &--04n {
    background-image: url("../../assets/images/icons/12.png");
  }

  &--04d {
    background-image: url("../../assets/images/icons/12.png");
  }

  &--09n {
    background-image: url("../../assets/images/icons/7.png");
  }

  &--09d {
    background-image: url("../../assets/images/icons/7.png");
  }

  &--10n {
    background-image: url("../../assets/images/icons/6.png");
  }

  &--10d {
    background-image: url("../../assets/images/icons/6.png");
  }

  &--11n {
    background-image: url("../../assets/images/icons/8.png");
  }

  &--11d {
    background-image: url("../../assets/images/icons/8.png");
  }

  &--13n {
    background-image: url("../../assets/images/icons/10.png");
  }

  &--13d {
    background-image: url("../../assets/images/icons/10.png");
  }


}