.home {
  margin: 0 auto;
  padding: 10px;
  padding-top: 70px;
  max-width: 320px;
  position: relative;

  &__cityList{
    min-height: 490px;
  }
  
  @media (min-width: 425px) {
    padding-top: 10px;
  }
}
