@import '../../assets/scss/variables.scss';
@import '../../assets/scss/global.scss';

.aboutWeather{
  background-color: $thirdColor;
  font-size: 0;

  &__date{
    background-color: #fff;
    padding: $indent+px 2*$indent+px;
  }

  &__month{
    display: block;
    font-size: 1rem;
    margin-bottom: $indent +px;
  }

  &__day{
    display: inline-block;
    font-size: 1rem;
    width: 50%;
  }

  &__time{
    display: inline-block;
    font-size: 1rem;
    width: 50%;
    text-align: right;
  }

  &__weather{
    padding: 10px 15px;
  }
}