@import '../../assets/scss/variables.scss';
@import '../../assets/scss/global.scss';

.weather {
  display: inline-block;
  width: 50%;

  &__CityName {
    font-size: 0.625rem;
    display: block;
  }

  &__val {
    font-size: 42px;
    display: block;
    &--c {
      &:after {
        content: "\00B0";
      }
    }
  }

  &__block {
    font-size: 0.625rem;
    display: block;
    padding-bottom: 0.5*$indent+px;
  }

  &__data {
    font-size: 0.625rem;
    display: inline-block;
    vertical-align: middle;
    padding-left: $indent+px;

    &--temp-c {
      &:after {
        content: "\00B0";
      }
    }
  }

  &__blockName {
    font-size: 0.625rem;
    display: inline-block;
    vertical-align: middle;
  }
}