@import '../../assets/scss/variables.scss';
@import '../../assets/scss/global.scss';

.cartCity{
  display: block;
  background-color: $thirdColor;
  color: inherit;
  padding: $indent+px 2*$indent+px;
  font-size: 0;
  box-shadow: -5px 6px 20px 3px rgba(0, 0, 0, 0.25);

  &:before{
    content: "";
    display: inline-block;
    height: 70px;
    vertical-align: middle;
  }

  &__name{
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    width: 157px;
  }

  &__temp{
    display: inline-block;
    vertical-align: middle;
    font-size: 1.313rem;
    width: 50px;
    text-align: right;

    &--c{
      &:after{
        content: "\00B0";
      }
    }
  }

  &__img{
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 50px;
    //background-image: url("../../assets/images/icons/1.png");
    //background-repeat: no-repeat;
    //background-size: contain;
    //background-position: center;
  }

  &__wrapper{
    position: relative;
    padding-bottom: 14px;
  }

  &__star{
    position: absolute;
    z-index: 2;
    width: 27px;
    top: -10px;
    right: -10px;
    cursor: pointer;

    &:after{
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: transparent;
    }

    svg{
      z-index: -1;
      position: relative;
    }
  }
}