@import '../../assets/scss/variables.scss';
@import '../../assets/scss/global.scss';

.search{
  position: fixed;
  left: calc(50% - 160px);
  top: 0;
  z-index: 3;
  width: 100%;
  padding: 10px;
  background-color: $secondColor;
  max-width: 320px;
  display: flex;

  &__input{
    display: block;
    width: 100%;
    padding: 10px;
    color: $primaryColor;
    font-size: 1rem;
    box-shadow: -5px 6px 20px 3px rgba(0, 0, 0, 0.25);
    font-family: inherit;
    font-weight: 500;
    border: none;
  }

  &__search{
    display: inline-block;
    vertical-align: middle;

    &:hover{
      z-index: 2;
    }

    &.active{
      z-index: 2;
    }
  }

  &__filter{
    padding-left: 5px;

    &:hover{
      z-index: 2;
    }

    &.active{
      z-index: 2;
    }
  }

  &__filterBtn{
    display: block;
    border: none;
    background-color: $thirdColor;
    padding: 10px 5px;
    min-width: 45px;
    font-size: 1rem;
    width: 100%;
    box-shadow: -5px 6px 20px 3px rgba(0, 0, 0, 0.25);
    color: $primaryColor;
    font-family: inherit;
    font-weight: 500;
  }

  @media (min-width: 425px) {
    left: auto;
    position: relative;
    padding: 0 0 15px;
    background-color: transparent;
    z-index: auto;
  }
}

